.ab_contentHeader {
  @include leftBorder;
  color: map-get($colors, color-primary);
  margin-top: 5%;
}
.ab_cardTitle {
  text-align: center;
  margin-top: 5%
}
.ab_cardContents {
  @include flex-rowc;
  text-align: center;
}
.ab_cardContents p {
  margin:5%;
}
.ab_info {
  @include flex-rowc;
  padding: 2%;
  margin: auto;
}
.ab_infoContent{
  margin: 5%;
}
.ab_infoText b {
  color:map-get($colors, color-primary);
  font-size: 30px;
}
.ab_infoText {
  margin-top: 5%;
  text-align: center; 
}
.ab_img {
  object-fit: contain;
  // box-shadow: 10px 10px 5px map-get($colors, color-secondary);
}

@include media-breakpoint-up(md){
  .ab_img {
      max-height: 400px;
    }
}

@include media-breakpoint-up(lg){
  .ab_info {
      flex-wrap: nowrap;
      margin-top: 5%;
    }
  .ab_infoContent{
    @include flex-rowc;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 10%;
  }
}
