//
//
//
//
//
//
form div {
  @include flex-rowc;
  padding: 0.5% 1.1%;
}

.cu_hero {
  background-color: #00000018;
  // has to stay relative for hero img to work
  position: relative;
  width: 102%;
}

.cu_heroIMG {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: sticky;
}


.cu_title {
  font-weight: bold;
  color: map-get($colors, color-primary);
  @include leftBorder;
  margin-top: 5%;
}

.cu_statement h5 {
  font-weight: lighter;
}
.cu_formWrapper{
  @include flex-rowc;
}
.cu_statement {
  text-align: center;
  margin-bottom: 3%;
}
.cu_infoCard {
  @include flex-rowc;
}
#cu_infoCardimg {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.cu_infoCardContents {
  @include flex-rowc;
  align-items: center;
}
.cu_infoCardContents h5 {
  @include leftBorder;
}
.cu_phases {
  &_List {
    &_item {
      padding: 10px 20px;
      margin-left: 50px;
    }
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cu_form {
  padding: 2% 2%;
  border: 4px solid map-get($colors, color-tertiary);
}
.box {
  background-color: rgba(0, 0, 0, 0.363);
}
.cu_formLabel {
  margin-left: 5%;
}
.cu_form {
  margin: 5% 0%;
}
.cu_headers {
  margin-left: 5%;
}
.cu_submitBtn {
  border: 1px solid map-get($colors, color-primary);
  background-color: map-get($colors, color-tertiary);
  color: map-get($colors, color-primary);
  padding: 18px 140px;
  text-align: center;
  border-radius: 15px;
}

.cu_submitBtn:hover{
  border: 4px map-get($colors, color-tertiary);
  background-color: map-get($colors, color-primary);
  color: map-get($colors, color-tertiary);
  box-shadow: 0 0.5em 0.5em -0.4em map-get($colors, color-primary);
  transform: translateY(.25em) scale(115%);
}
