
textarea{
    height: 90px;
    width: 100px;
}

form div{
    @include flex-rowc;
    padding: .5% 1.1%;
}

label{
    padding: 0% 2%;
}
.contactButton{
    padding: .5% 1.2%;
    position: sticky;
    top: 10;
    right: 0;    
}