
/*************/
/* HomePage */
/*************/

// Video
.hm_hero{
    @include flex-rowc;
    background-color: rgba(0, 0, 0, 0.356);
    position: relative;
    width: auto;
    height: 920px;
}

.hm_herovideo{
    position: sticky;
    min-width: 100%;
    min-height: 100%;
    // width: 100%;
    // height: 100%;
    z-index: -1;
}
video{
    object-fit: cover;
}
//Hero
.hm_content{
    position: absolute;
    text-align: center;
    color: map-get($colors, color-white);
    min-height: 1000px;//used to position button
    z-index: 2;
}
.hm_header {
    margin-top: 10%;
}
.hm_herobtn {
    position: absolute;
    align-self: center;
    margin-top: 20%;
    z-index: 3;
}

.hm_btn {
    border: 1px solid map-get($colors, color-primary);
    background-color: map-get($colors, color-tertiary);
    color: map-get($colors, color-primary);
    padding: 18px 140px;
    text-align: center;
    border-radius: 15px;
}

.hm_btn:hover {
    border: 4px insetmap-get($colors, color-tertiary);
    background-color: map-get($colors, color-primary);
    color: map-get($colors, color-tertiary);
    // display: inline-block;
    box-shadow: 0 0.5em 0.5em -0.4em map-get($colors, color-primary);
    transform: translateY(.25em) scale(115%);
   
}

//Services Card
.hm_cardHeader {
    @include leftBorder;
    margin-top:5%; 
}
.hm_readCard{
    @include flex-rowc;

}
.showCard{
    @include flex-rowc;
    align-items: center;
    margin: 5%;
    background-color: map-get($colors, color-white);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    position: absolute;
    width: 1000px;
    height:400px;
}
.activeC{
    z-index: 4 !important;
    animation: showCarda 2s ease 1;
}

@keyframes showCarda{
    0%{transform:translateX(400px)}
    100%{}
    }

.showCardToggle{
    @include visually-hidden;
}
.showCardinner{
    @include flex-rowc;
    align-items: center;
    margin: 2%;
}
.showTitle{
    margin-bottom: 5%;
}
.hm_push{
    margin-top: 550px;
}
.hm_blurb{
    margin: 3%;
    text-align: center;       
}
.hm_cardStack{
    @include flex-rowc;
}
    //Fill Animation
    .hm_card {
        margin: 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px; /* 5px rounded corners */
        text-align: center; 
        display: block; 
        background: linear-gradient(to top, #ec1f9373 50%, white 50%);
        background-size: 100% 200%;
        color: black;
        transition: all 1100ms ease-out;
        background-position:top left;
    }
    .hm_card:hover {
        color: #ffffff;
        background-position:bottom left;
        cursor:pointer;
    }

  .hm_card img {
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: 250px;
    padding: 5%;
    @include flex-rowc;
  }
  //Learn More and divider
  .hm_learnMore{
      @include flex-rowc;
      margin-top:5%;
  }
  .learnMoreBtn {
    border: 1px solid map-get($colors, color-secondary);
    background-color:transparent;
    color: map-get($colors, color-secondary);
    padding: 18px 140px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}
  .learnMoreBtn:hover {
    border: 1px solid map-get($colors, color-secondary);
    background-color:map-get($colors, color-secondary);
    color: map-get($colors, color-white);
    padding: 18px 140px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    transform: translateY(.25em) scale(115%);
}
  //Showcase
  .hm_showcaseHeader{
      @include leftBorder;
      margin-top: 5%;
  }
  .hm_carousel{
      margin-top: 5%;
  }

  //PinkPanda World
  .hm_pinkpandaWorld{
    @include leftBorder;
    margin-top: 10%;
  }
  .fourSquare{
      @include flex-rowc;
      margin-top: 5%;

    }
    .fourSquareTitle{
        position: relative;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .fourSquareImg {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        z-index: -100;
        position: sticky;
        margin: 0;
    }
  .fourSquareHeader{
      @include flex-rowa;
      text-align: center;
      color: map-get($colors, color-white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 200;
  }
  .fsBtn{
      transform: translateY(75px);
  }

  .hm_rocketDivider{
      @include flex-rowc;
      margin: 3%;
  }
