
/*************/
/* HomePage */
/*************/

// Video
.hm_hero{
    @include flex-rowc;
    background-color: rgba(0, 0, 0, 0.404);
    position: relative;
    width: fit-content;
    height: 820px;
}

.hm_herovideo{
    position: sticky;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
video{
    object-fit: cover;
    width: 100%;
    height: 820px;
}

//Hero
.hm_content{
    position: absolute;
    @include flex-rowc;
    margin-top: 10%;
    text-align: center;
    color: map-get($colors, color-white);
    z-index: 2;
    min-width: 100%;
    min-height: 820px;
    width: 100%;
    height: 100%;
}
.hm_header h1 {
    color: map-get($colors, color-tertiary);
}

.hm_btn {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 20%;
    border: 1px solid map-get($colors, color-primary);
    background-color: map-get($colors, color-tertiary);
    color: map-get($colors, color-primary);
    padding: 18px;
    text-align: center;
    border-radius: 15px;
    z-index: 3;
}

.hm_btn:hover {
    border: 4px map-get($colors, color-tertiary);
    background-color: map-get($colors, color-primary);
    color: map-get($colors, color-tertiary);
    // display: inline-block;
    box-shadow: 0 0.5em 0.5em -0.4em map-get($colors, color-primary);
    transform: translateY(.25em) scale(115%);
   
}
   
//Services Card
.hm_cardHeader {
    @include leftBorder;
    margin-top:5%; 
}
.hm_services{
    @include flex-rowc;
    position: relative;
    height: 1000px;
    width: 100%;
}
.hm_readCard{
    @include flex-rowc;
    align-content: center;
}
.cardBody{
    margin-top: 10%;
    text-align: center;
    
}
.showCard{
    @include flex-rowc;
    align-items: center;
    margin: 5%;
    background-color: map-get($colors, color-white);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 1000px;
    }
.activeC{   
    z-index: 4 !important;
    animation: showCarda 500ms ease-in  ;
}
@keyframes showCarda{
    0%{transform:translateX(400px)}
    100%{}
    }
.showImg{
    object-fit: contain;
}

.showCardinner{
    @include flex-rowc;
    align-items: center;
    width: fit-content;
    margin: 2%;
}
.showTitle{
    margin-bottom: 5%;
}
.hm_push{
    margin-top: 10%;   
}
.hm_blurb{
    margin: 3%;
    text-align: center; 
    // color: map-get($colors, color-primary);

}
.hm_cardStack{
    @include flex-rowc;
}
//Fill Animation
.hm_card {
    @include flex-rowc;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    text-align: center; 
    display: block; 
    background: linear-gradient(to top, #ec1f9373 50%, white 50%);
    background-size: 100% 200%;
    color: black;
    transition: all 1100ms ease-out;
    background-position:top left;
}
.hm_card:hover {
    color: #ffffff;
    background-position:bottom left;
    cursor:pointer;
}

  .hm_card img {
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: 250px;
    padding: 5%;
    
  }
//Learn More and divider
  .hm_learnMore{
      @include flex-rowc;
      align-items: center;
      margin-top:10%;
  }
  .learnMoreBtn {
    border: 1px solid map-get($colors, color-primary);
    background-color:transparent;
    color: map-get($colors, color-primary);
    padding: 18px;
    text-align: center;
    display: inline;
    border-radius: 15px;
}
  .learnMoreBtn:hover {
    border: 1px solid map-get($colors, color-secondary);
    background-color:map-get($colors, color-secondary);
    color: map-get($colors, color-white);
    padding: 18px 100px;
    text-align: center;
    display: inline;
    border-radius: 15px;
    transform: translateY(.25em) scale(115%);
}
//Showcase and Carousel

  .hm_carouselIndicators button.active {
      background-color: map-get($colors, color-primary);
  }
  .carouselImg{
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0.5% 9vw;
  }
  .hm_showcaseHeader{
      @include leftBorder;
      margin-top: 5%;
  }
  .hm_carousel{
    @include flex-rowc;
    align-content: center;
    margin-top: 10%;
    height: 350px;
  }

  .hm_showCasebtn {
    margin: 10% 0;
    border: 1px solid map-get($colors, color-primary);
    background-color:transparent;
    color: map-get($colors, color-primary);
    padding: 18px 100px;
    text-align: center;
    border-radius: 15px;
  }
  .hm_showCasebtn:hover {
    border: 1px solid map-get($colors, color-secondary);
    background-color:map-get($colors, color-secondary);
    color: map-get($colors, color-white);

    
    
}
.hm_rocketDivider{
    margin: 5% 0 ;
    object-fit: contain;
}
//PinkPanda World
  .hm_pinkpandaWorld{
    @include leftBorder;
    margin-top: 10%;
  }
  .fourSquare{
      @include flex-rowc;
      margin-top: 5%;

    }
    .squareInfoOne{
        @include flex-rowc;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .squareInfoTwo{
        @include flex-rowc;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .squareInfoSwap{
        display: none;
    }
    .fourSquareImg {
        @include wh100;
        z-index: -100;
        position: sticky;
        margin: 0;
    }
  .fourSquareHeader{
      @include flex-rowc;
      margin-top: 5%;
      align-content: center;
      text-align: center;
      color: map-get($colors, color-white);
      position: absolute;
      z-index: 200;
  }

  .squareBtn{
      margin: 10% 5%;
      border: 1px solid map-get($colors, color-primary);
      background-color: map-get($colors, color-tertiary);
      color: map-get($colors, color-primary);
      padding: 18px 100px;
      text-align: center;
      border-radius: 15px;
  }


    .squareBtn:hover {
        border: 4px map-get($colors, color-tertiary);
        background-color: map-get($colors, color-primary);
        color: map-get($colors, color-tertiary);
        box-shadow: 0 0.5em 0.5em -0.4em map-get($colors, color-primary);
        transform: translateY(.25em) scale(115%);
    }



//SM BREAK 576px,
@include media-breakpoint-up(sm){
 
}
//MED BREAK 768px,
@include media-breakpoint-up(md) { 
    .hm_btn{
        margin-top: 50%;
    }
    .hm_services{
        height: 1180px;
    }
    .showCard{
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        height: 1100px;
    }
    .hm_push{
        margin-top: 10%;
        height: 100%;                  
    }
    .hm_carousel{
        height: 650px;
      }
      .squareBtn{
        margin: 10% 20%;
    }

    
   }
//LARGE BREAK 992px,
@include media-breakpoint-up(lg) {
    // .hm_btn{
    //     margin: 25%;
    // } 
    video {
        height: 720px;
    }
    .hm_hero {
        width: 100%;
        height: 720px;
    }
    .showImg{
        max-height: 650px;
        max-width: 650px;
    }
    .hm_content{
        margin-top: 5%;
    }
    .hm_cardStack{
        @include flex-rowc;
    }
    .showCard{
        max-height: 500px;
    }
    .hm_services {
        height: 550px;
    }
    .squareInfoSwap{
        display: flex;
        @include flex-rowc;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .squareInfoTwo{
        display: none;
    }
    .hm_showCasebtn {
        margin-top: 7%;
    }
    .cardBody {
        margin-top: 0%;
    }
    .hm_carousel {
        height: 700px;
    }
}
//EXTRA LARGE SCREEN SIZING 1400px and up
 @include media-breakpoint-up(xxl) { 
    video{
        height: 920px;
    }
    .hm_hero{
        width: 100%;
        height: 920px;
    }
    .hm_cardStack {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .hm_btn{
        margin-top: 0%;
        margin-bottom: 10%;
    } 
    .hm_services{
        height: 500px;
        width: 100%;
    }
    .showCard{
        min-height: 0px;
        max-height: 500px;
    }
    .hm_carousel {
        height: 800px;
    }
}
