// Studio Styles
.st_hero {
  @include flex-rowc;
  background-color: #00000042;
  // has to stay relative for hero img to work
  position: relative;
  width: 100%;
  height: 750px;
}

// Background img
.st_heroImg {
  position: sticky;
  z-index: -1;
  min-width: 100%;
  min-height: 750px;
  width: 100%;
  height: 100%;
}

// Darkend overlay for Studio Hero
.st_heroImgPC {
  display: none;
  position: sticky;
  z-index: -1;
  width: 100%;
  height: 768px;
}

// Text Contents for the Studio Hero
// Studio Hero Title
.st_heroHeader {
  @include leftBorder;
  color: map-get($colors, color-primary);
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  z-index: 2;
}
// Studio Hero Container
.st_heroContent {
  @include flex-rowc;
  margin-top: 10%;
  align-self: center;
  position: absolute;
  z-index: 2;
}

// Studio Header Text
.st_heroText {
  @include leftBorder;
  color: map-get($colors, color-primary);
}

.st_headerBlurb {
  @include flex-rowc;
  align-content: center;
  margin-top: 10%;
  text-align: center;
  color: map-get($colors, color-white);
}

// Carousel Styling

// Showcase Title
.st_showcaseTitle {
  @include leftBorder;
  margin: 2%;
}

.st_showcaseTitle h1 {
  font-weight: bold;
}
// Tab Buttons
.st_tabButtons li{
  margin: .5%;
}
// Carousel Indicators
.st_carouselIndicators button.active {
  background-color: map-get($colors, color-primary);
}

// Carousel Images

// .st_portfolioContents {
// }
.st_tablet {
  display: none;
}
.st_large {
  display: none;
}
.st_PC {
  display: none;
}
.st_HD {
  display: none;
}
.st_carouselItem {
  height: 100%;
  width: 100%;
  margin: 5% auto 220px;
  padding: 0.5% 9vw;
}

// Carousels Captions

// Carousels Header <h5>
.st_portfolioLabel {
  color: map-get($colors, color-primary);
  font-size: 1.5em;
}

// Carousel Text <p>
.st_portfolioFlavor {
  color: map-get($colors, color-black);
  font-weight: lighter;
  font-size: 1.3em;
}

@include media-breakpoint-up(md) {
  .st_hero {
    height: 900px;
  }
  .st_heroImg {
    @include wh100;
  }
  .st_heroContent {
    margin-top: 0;
    align-self: center;
  }
  .st_headerBlurb {
    margin-top: 20%;
  }
  .st_tablet {
    display: block;
  }
  .st_mobile {
    display: none;
  }
  .st_portfolioLabel {
    font-size: 2.5em;
  }
  .st_portfolioFlavor {
    font-size: 1.7em;
  }
}
@include media-breakpoint-up(lg) {
  .st_hero {
    height: 768px;
  }
  .st_heroImgPC {
    display: block;
  }
  .st_heroImg {
    display: none;
  }
  .st_heroContent {
    margin-top: 0;
    align-items: flex-start;
  }
  .st_headerBlurb {
    margin-top: 0;
    align-items: center;
  }
  .st_heroText {
    margin-bottom: 300px;
  }
  .st_mobile {
    display: none;
  }
  .st_tablet {
    display: none;
  }
  .st_large {
    display: block;
  }
  .st_carouselItem {
    // height: 100%;
    // width: 100%;
    margin: 2% auto 200px;
    padding: 0.5% 9%;
  }
}
@include media-breakpoint-up(xl) {
  .st_mobile {
    display: none;
  }
  .st_tablet {
    display: none;
  }
  .st_large {
    display: none;
  }
  .st_PC {
    display: none;
  }
  .st_HD {
    display: block;
  }
  .st_heroHeader {
    margin-left: 0;
  }
  .st_heroText {
    margin: 2% auto;
  }
  .st_headerBlurb {
    margin: 5% auto;
  }
}
@include media-breakpoint-up(xxl) {
  .st_PC {
    display: none;
  }
  .st_HD {
    display: block;
  }
  .st_heroHeader {
    margin-left: 0;
  }
  .st_heroText {
    margin: 2% auto;
  }
  .st_headerBlurb {
    margin: 5% auto;
  }
  .st_headerBlurb h3 {
    font-size: 2em;
  }
}

// @include media-breakpoint-up(sm) {
// }
