// Commented out for testing
// // Darkend overlay for Studio Hero
// .st_hero {
//   background-color: #00000042;
//   // has to stay relative for hero img to work
//   position: relative;
//   width: 102%;
// }

// // Text Contents for the Studio Hero
// .st_heroContent {
//   @include flex-rowc;
//   z-index: 2;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -100%);
// }

// // Studio Hero Title
// .st_header {
//   // @include leftBorder;
//   @include flex-rowb;
//   // border: orange 4px solid:
//   transform: translateY(-150px);
//   color: map-get($colors, color-primary);
//   box-sizing: border-box;
// }

// // used to be st_headerText
// // Studio Header Text
// .st_headerStatements {
//   @include flex-roweven;
//   // border: orange 4px solid;
//   text-align: center;
//   transform: translateX(100px);
// }

// // Studio Hero Image
// .st_heroIMG {
//   max-width: 100%;
//   max-height: 100%;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   position: sticky;
// }

// .st_carouselTitle {
//   margin: 5% 0% 1.5%;
//   padding: 0.5% 0% 0.2%;
//   @include leftBorder;
//   height: min-content;
// }
// .st_carouselTitle h1 {
//   font-weight: bold;
// }

// .st_portfolioContents img {
//   object-fit: contain;
//   padding: 0.5% 10%;
//   max-height: 650px;
//   max-width: 900px;
//   justify-items: center;
//   margin: 0 auto 280px;
// }

// .st_portfolioContents {
//   align-content: center;
//   justify-content: center;
//   flex-direction: row;
//   align-items: center;
// }

// .st_portfolio {
//   align-content: center;
//   justify-content: center;
//   flex-direction: row;
//   align-items: center;
// }

// .st_portfolioLabel {
//   color: map-get($colors, color-black);
// }

// .st_portfolioFlavor {
//   color: map-get($colors, color-black);
//   font-weight: lighter;
// }

// .st_carouselIndicators button.active {
//   background-color: map-get($colors, color-primary);
//   // box-shadow: 1px 6px 10px #00000016;
// }

// .st_divide {
//   margin-top: 5%;
// }
// used to be st_textBox not st_headerBox jm @ 5-31-22
// .st_headerBox {
//   box-sizing: border-box;
// }
// .st_hText {
//   @include leftBorder;
// }

// //
// // MQ Testing
// // MQ
// // MQ Testing

// @media screen and (max-width: 990px) {
//   .st_heroIMG img {
//     height: fit-content;
//     width: fit-content;
//     max-width: 992px;
//     // Testing Attribute for load speed 5/30/22
//     image-rendering: optimizeSpeed;
//   }

//   // Pushes objects down away from banner
//   .st_header {
//     transform: translate(0px, 180px);
//     box-sizing: border-box;
//   }

//   .st_headerStatements {
//     transform: translate(0px, 180px);
//     box-sizing: border-box;
//     height: 330px;
//   }

//   // Revisit idea to call Mixin/Function to set
//   // all 3 attributes with variable em size
// $st_rFs: 1;
// $var: 1;

//   }

//   .st_header h2 {
//     font-size: 1.8em;
//     line-height: 1.8em;
//     height: 1.8em;
//   }

//   .st_headerStatements h3 {
//     color: red;
//     font-size: small;
//   }
// }

// V2.01 adding Media Queries for mobile breakpoints
// Standard CSS no matter page size

.st_carouselIndicators button.active {
  background-color: map-get($colors, color-primary);
}

// Carousel Header
.st_portfolioLabel {
  color: map-get($colors, color-secondary);
}

// MQ Updates

// MQ that establishes the Overlays for content on images at any level

@media screen and (min-width: 1px) {
  // Overlay
  .st_hero {
    background-color: #00000042;
    position: relative;
  }
  // Layer of Text Contents
  .st_heroContent {
    z-index: 2;
    position: absolute;
  }
  .st_heroIMG img {
    z-index: -1;
    position: sticky;
  }
}

// Mixins

@mixin mediaText($totalHeight) {
  // setting Left border height testing
  font-size: $totalHeight;
  line-height: $totalHeight;
  height: $totalHeight;
}

@mixin studioHeaders($lineSize) {
  margin-top: 5%;
  @include mediaText($lineSize);
  @include leftBorder;
  color: map-get($colors, color-primary);
}

// Main Queries for Content

// MQ to adjust Studio content @~360px
@media screen and (min-width: 22em) and (max-width: 48em) {
  // Styles For Hero
  // Background Image Styles
  .st_heroIMG img {
    // Testing Attribute for load speed 5/30/22
    image-rendering: optimizeSpeed;
    object-fit: contain;
    height: 95vh;
  }
  // Styling Hero Text
  .st_headerBox h1 {
    @include studioHeaders(2.5em);
  }

  .st_headerBox h2 {
    @include studioHeaders(1.8em);
  }
  .st_headerStatements {
    margin-top: 12vh;
  }
  .st_headerStatements h3 {
    @include mediaText(1.5em);
    font-weight: lighter;
  }

  // Carousel Styles
  // Creates Spacing at top for content
  .st_divide {
    // creates spacing on the top of the carousel
    margin-top: 10%;
  }
  // Carousel Text Styling
  .st_carouselTitle {
    @include studioHeaders(2.5em);
  }
  // Carousel IMG Styles
  .st_portfolioContents IMG {
    @include studioContent;
    object-fit: contain;
    justify-items: center;
    padding: 5vh;
  }
  // Carousel Tabs
  .st_tabs button {
    margin-left: 3.3vh;
  }
  .st_tabs button h6 {
    font-size: 1em;
  }
}

// MQ to adjust Studio Content @~768px
@media screen and (min-width: 48em) and (max-width: 85.375em) {
  // Styles For Hero
  .st_headerStatements h3 {
    padding-left: 5vh;
    @include mediaText(1.8em);
    font-weight: lighter;
  }
  .st_headerBox h1 {
    @include studioHeaders(3.1em);
  }
  .st_headerBox h2 {
    @include studioHeaders(1.8em);
  }
  .st_headerStatements {
    margin-top: 20vh;
  }
  // Carousel
  .st_carouselTitle {
    @include studioHeaders(3.5em);
  }
  .st_portfolioContents IMG {
    @include studioContent;
    object-fit: contain;
    justify-items: center;
    padding: 5vh;
  }
  .st_tabs button {
    margin-left: 3.3vh;
  }
  .st_tabs button h6 {
    font-size: 2em;
  }
}
