// ******
// Quick color refrences
// ******
// "color-primary": #ec1f94,
// "color-secondary": #ff9ed5,
// "color-tertiary": #ffe9f5,
// "color-quad": #dcb8cd,
// "color-white": #ffffff,
// "color-black": #000000,
// "color-grey": #ebebeb,

// 1. Include any default variable overrides here
//Nav - Header
$offcanvas-padding-y: 5%;
$offcanvas-padding-x: 10%;
$offcanvas-horizontal-width: 280px;
$offcanvas-vertical-height: 100%;
$navbar-light-toggler-border-color: transparent;

//services edits
$accordion-button-color: #ff9ed5;

// Studio
$carousel-control-color: #000;
// $carousel-control-color: #dcb8cd;
$carousel-indicator-active-bg: #ebebeb;
$carousel-indicator-spacer: 10px;
// $nav-tabs-border-color: #000;

// Studio Tabs
$nav-link-color: #000000;
$nav-link-hover-color: #ec1f94;
$nav-pills-link-active-color: #ec1f94;

// Contact us
$input-padding-x: 10%;
// J
$primary: #ffe9f5;
$input-btn-font-family: oswald;
// Services MQ edits
$accordion-button-active-color: #ec1f94;
$accordion-button-active-bg: #ffe9f5;

// 2. Import Bootstrap
@import "../NODE_MODULES/bootstrap/scss/bootstrap";

// 3. Add additional custom code here
//***********************************
// ******
// Fonts
// ******

$primary-font: oswald;
$secondary-font: bodoni MT;
body {
  margin-top: 80px;
}
h1 {
  font-family: $primary-font;
  font-size: 80px;
}

h2 {
  font-family: $primary-font;
  font-size: 60px;
}

h3 {
  font-family: $primary-font;
  font-size: 50px;
}

h4 {
  font-family: $primary-font;
  font-size: 40px;
}

h5 {
  font-family: $primary-font;
  font-size: 30px;
}

h6 {
  font-family: $primary-font;
  font-size: 25px;
}

p {
  font-family: $secondary-font;
  font-size: 25px;
}

// ******
// Mixins
// ******

@mixin flex-rowc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@mixin flex-roweven {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@mixin flex-rowa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@mixin flex-rowb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@mixin flex-rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@mixin flex-rowend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@mixin leftBorder {
  border-left: 4px solid map-get($colors, color-primary);
  padding-left: 1%;
}
@mixin leftBorder-grey {
  border-left: 4px solid map-get($colors, color-grey);

  padding-left: 1%;
}

@mixin wh100 {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

@mixin studioContent {
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

@mixin boxSizing {
  // forces height and aligns text with border@left
  display: inline;
  vertical-align: middle;
}

@mixin studioHeaders($lineSize) {
  margin-top: 5vh;
  color: map-get($colors, color-primary);
  @include leftBorder;
  font-size: $lineSize;
  // @include mediaText($lineSize);
}

// syntax - @include flex-rowc;

/*************/
/* Keyframes */
/*************/
@keyframes scalein {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

// ******
// Maps
// ******

$colors: (
  "color-primary": #ec1f94,
  "color-secondary": #ff9ed5,
  "color-tertiary": #ffe9f5,
  "color-quad": #dcb8cd,
  "color-white": #ffffff,
  "color-black": #000000,
  "color-grey": #ebebeb,
);

// ******
//Template Page Styling
// ******

//Navbar
.navbar {
  height: 85px;
  z-index: 5000;
}
.navbar-brand {
  width: 180px;
  height: auto;
  margin-left: 2%;
}
.navbar-nav {
  margin-left: auto;
  font-family: $primary-font;
}
#navexpand {
  margin-left: auto;
}
#pageselect {
  color: map-get($colors, color-primary);
}

// Header Wave

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    60deg,
    map-get($colors, color-secondary) 0%,
    map-get($colors, color-tertiary) 100%
  );
  color: map-get($colors, color-primary);
  z-index: 500;
}
.waves {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 70px;
  max-height: 90px;
}

.content {
  position: relative;
  height: 60vh;
  text-align: center;
  background-color: map-get($colors, color-white);
}

//Animation of wave

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

//studio override
.hero404 {
  @include flex-rowc;
}
.fourOhFour {
  max-height: 1000px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
// Modal Contact Button
// .contactButton {
//     padding: 0.5% 1.2%;
//     z-index: 1000;
//     margin: auto;
//     transform: translatex(20px);

// }
.md_submitBtn {
  margin-top: 2%;
  border: 1px solid map-get($colors, color-primary);
  background-color: map-get($colors, color-tertiary);
  color: map-get($colors, color-primary);
  padding: 18px 140px;
  text-align: center;
  border-radius: 15px;
}

.md_submitBtn:hover {
  border: 4px map-get($colors, color-tertiary);
  background-color: map-get($colors, color-primary);
  color: map-get($colors, color-tertiary);
  box-shadow: 0 0.5em 0.5em -0.4em map-get($colors, color-primary);
  transform: translateY(0.25em) scale(115%);
}

//Off Canvas social media icons
.socialnav {
  @include flex-rowc;
  align-items: flex-end;
  width: 100%;
  height: 70%;
}
@include media-breakpoint-up(lg) {
  .socialnav {
    height: 65%;
  }
}
@include media-breakpoint-up(xl) {
  .socialnav {
    height: 75%;
  }
}
.socialIcon {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}

// ******
//Imports
// *****

// Import locations
@import "about";

@import "contact";

@import "index";

@import "services";

@import "studio";
